body{
    background-color: black;
    margin: 0px 8rem;
}
.navigation{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}
.logo{
    width: 60px;
    height: 60px;
}
.navbar li {
    color: white;
    list-style-type: none;
    font-size: medium;
    display: inline-block;
}

.navbar li a {
    text-decoration: none;
    color: white;
    padding: 0px 25px;
    font-size: 1.2rem;
}
.active{
    border-bottom: 3px solid white;
}
section{
    display: flex;
    justify-content: space-between;
}
.right{
    color: white;
    width: 40%;
    font-size: 1.5rem;
    line-height: 1.7rem;
}
.right h1{
    font-size: 3rem;
}
.btn{
    width: 120px;
    padding: 0.7rem;
    border-radius: 30px;
    cursor: pointer;
    font-size: 0.9rem;
}
.btn:hover{
    color: white;
    background-color: black;
    border: 2px solid white;
}
.left {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.left img {
    width: 30%;
    height: 400px;
    /* background-image: url(msg-4075292218-5399-removebg-preview.png); */
    background-repeat: no-repeat;
    background-size: cover;
}
footer{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.iPhone{
    height: 100px;
    width: 55px;
    margin: 0px 10px;
}
footer img:hover{
    transform: scale(1.3);
    color: dar;
}
.clr1{
color: gold;
/* background-image: url(msg-4075292218-5399-removebg-preview.png); */
transition: 1s;
background-repeat: no-repeat;
background-size: cover;
}
.clr2{
color: lightblue;
/* background-image: url(msg-4075292218-5400-removebg-preview.png); */
transition: 1s;
background-repeat: no-repeat;
background-size: cover;
}
.clr3{
color: black;
/* background-image: url(msg-4075292218-5401-removebg-preview.png); */
transition: 1s;
background-repeat: no-repeat;
background-size: cover;
}
.clr4{
color: palevioletred;
/* background-image: url(msg-4075292218-5402-removebg-preview.png); */
transition: 1s;
background-repeat: no-repeat;
background-size: cover;
}
.clr5{
color: rgb(218, 54, 54);
/* background-image: url(msg-4075292218-5403-removebg-preview.png); */
transition: 1s;
background-repeat: no-repeat;
background-size: cover;
}